/**{
border: 1px solid red;
}*/
p, ul {
	text-align: justify;
}

h1, h2, h4{
	color: SteelBlue;
}

hr {
    border: none;
    height: 3px;
    color: SteelBlue; /* old IE */
    background-color: SteelBlue; /* Modern Browsers */
}

.hr-dot{
	border:none;
	border-top:1px dotted LightSteelBlue;
	color:#fff;
	background-color:#fff;
	height:1px;
	width:100%;
}

